<!DOCTYPE html>
<html lang="en" >
<head>
  <title>BugTik</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="BugTik" onload="setTimeout(function(){window.scrollTo(0, 1)})">
  <div id="app" ng-controller="AppCtrl as app" layout="column">
    <md-toolbar>
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" hide-gt-xs ng-click="app.toggleMenu()">
            <md-icon class="material-icons">menu</md-icon>
          </md-button>
          <h1 class="md-toolbar-tools"> BugTik</h1>
      </div>
    </md-toolbar>
    <section layout="row" flex ng-click="app.clickAnywhere(null)">
      <md-sidenav class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-xs')"
          md-component-id="menu"
          md-disable-backdrop
          md-whiteframe="4"
          ng-cloak
          style="min-width: 200px; width: 200px;">
        <md-content ng-cloak>
          <md-list flex>
            <md-list-item class="md-2-line" ng-class="{selected: app.selectedMenuItem=='my-tickets'}" ng-click="app.selectMyTickets()">
              <div class="md-list-item-text" layout="column">
                <h3>My Tickets</h3>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
            <md-subheader class="white">Projects</md-subheader>
            <md-list-item class="md-2-line" ng-repeat="project in app.projects" ng-class="{selected: project==app.selectedMenuItem}" ng-click="app.selectProject(project)">
              <div class="md-list-item-text" layout="column">
                <h3>{{ project.name }}</h3>
              </div>
            </md-list-item>
          </md-list>
        </md-content>
      </md-sidenav>
      <div style="position: relative; width: 0px" ng-cloak>
        <div id="new">
          <md-button class="md-fab" aria-label="create ticket" ng-click="app.newTicket()" ng-show="app.selectedMenuItem.name">
            <md-icon class="material-icons icon">create</md-icon>
          </md-button>
        </div>
      </div>
      <div class="container md-padding" ng-cloak style="overflow: auto">
        <div id="top-spacer"></div>
        <div class="ticket" ng-repeat="ticket in app.tickets">
          <md-card ng-class="{'md-whiteframe-8dp': ticket == app.selectedTicket}" ng-click="app.selectTicket($event, ticket)">
            <md-card-title  ng-style="ticket.severity.color && {'background-color': ticket.severity.color.code,  transition: 'background 0.4s linear' }">
              <div class="id">#{{ticket.id}}</div>
              <md-card-title-text>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block compact">
                        <textarea class="summary" ng-model="ticket.summary" rows="4" md-select-on-focus
                                  aria-label="ticket summary"
                                  ng-style="ticket != app.selectedTicket && {'border-color': 'rgba(0,0,0,0)'}"
                                  ng-keypress="app.blurOnEnter($event)"
                                  ng-blur="ticket.$save()"
                                  ng-class="{'input-hidden': ticket != app.selectedTicket}"></textarea>
                  </md-input-container>
                </div>
                <div style="margin-top: 6px;">
                  <md-input-container class="compact">
                    <md-icon class="material-icons icon" ng-style="ticket.owner=='me' && {color: 'rgba(0,0,0,0.6)'}">face</md-icon>
                    <input ng-model="ticket.owner" aria-label="ticket owner" class="detail" md-select-on-focus
                           ng-class="{'input-hidden': ticket != app.selectedTicket}"
                           ng-keypress="app.blurOnEnter($event)"
                           ng-blur="ticket.$save()"/>
                  </md-input-container>
                  <div style="display: inline-block; white-space: nowrap; position: relative; vertical-align: top;">
                    <md-input-container class="compact">
                      <md-icon class="material-icons icon">flag</md-icon>
                      <md-select placeholder="{{ticket.severity.name}}"
                                 ng-model="ticket.severity"
                                 ng-model-options="{trackBy: '$value.name'}"
                                 md-selected-text="ticket.severity.name"
                                 ng-change="app.updateSeverity(ticket)"
                                 aria-label="ticket severity"
                                 ng-class="{'input-hidden': ticket != app.selectedTicket}"
                                 class="detail">
                        <md-option ng-value="severity" ng-repeat="severity in app.severities">{{severity.name}}</md-option>
                      </md-select>
                    </md-input-container>
                    <md-menu style="display: inline">
                      <md-button style="margin-left: -6px; margin-right: 0px; ; margin-top: -6px" aria-label="more ticket actions" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon class="material-icons">more_vert</md-icon>
                      </md-button>
                      <md-menu-content width="3">
                        <md-menu-item>
                          <md-button ng-click="app.deleteTicket(ticket)" aria-label="delete ticket">
                            <md-icon class="material-icons">delete</md-icon>Delete
                          </md-button>
                        </md-menu-item>
                        <!-- <md-menu-divider></md-menu-divider> -->
                      </md-menu-content>
                    </md-menu>
                  </div>
                </div>
              </md-card-title-text>
            </md-card-title>
          </md-card>
        </div>
      </div>
      <div id="bottom-spacer"></div>
    </section>
  </div>
  <div style="height: 1px" hide-gt-xs></div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
  <script src="https://npmcdn.com/hybind@1.0.4/index.js"></script>
  <!-- script src="hybind.js"></script -->
  <script src="app.js"></script>
</body>
</html>
