.selected {
    background-color: rgb(245,245,245);
}

.white {
    background-color: white;
}

.summary {
    font-size: 140%;
    max-width: 268px;
}

.md-errors-spacer {
  min-height: 0px !important;
}

.input-hidden, md-select.input-hidden md-select-value {
   border-color: rgba(0, 0, 0, 0) !important;
}

.detail {
    font-size: 80%;
    min-width: 80px;
    max-width: 80px;
}

.compact {
    margin-top: 2px;
    margin: 0;
}

@media (min-width: 960px) {
  .ticket {
    float:left;
  }
  .id {
    padding: 4px 6px 0px 2px;
    width: 40px;
    font-size: 140%;
  }
  #new {
      top: 72px;
      left: 220px;
  }
  #top-spacer {
    height:64px;
  }
}
@media (max-width: 960px) {
  .id {
    margin-top: -20px;
    margin-left: -10px;
    font-size: 90%;
    width: 5px;
  }
  #new {
      bottom: 20px;
      right: 30px;
  }
  #bottom-spacer {
    height:64px;
  }
}
@media (max-width: 600px) {
  .ticket, .container {
    width: 100%;
  }
  .summary {
    max-width: 100%;
  }
}
.id {
    color: rgba(0, 0, 0, 0.4);
}

#new {
    position: fixed;
    z-index:100;
}

.icon {
    margin-left:4px;
    color: rgba(0, 0, 0, 0.2);
}

:focus {outline:0;}

.md-menu {
    padding-top: 0;
}
